{% extends 'base.html' %}
{% block body %}


      <!--Form for adding task-->
      <div class="container my-3">
        <h3> Add Task </h3>
        <form action="/" method="POST">

          <div class="form-floating mb-3">
            <input type="text" class="form-control" name="title" id="title" placeholder="Task">
            <label for="floatingInput">Task</label>
          </div>
          <div class="form-floating mb-3">
            <input type="text" class="form-control" name="desc" id="desc" placeholder="Description">
            <label for="floatingPassword">Description</label>
          </div>
          
          <button type="submit" class="btn btn-dark">Add Task</button>
        </form>
      </div>

    <!--Table which displays task added-->
    <div class="container my-5">
      <h3>Task List</h3>
      

          {% if allTask | length == 0 %}
          <div class="alert alert-secondary" role="alert">
            No Task Added yet! Try Adding One :)
          </div>

        

          {% else %}
          <table class="table">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Title</th>
                <th scope="col">Desccription</th>
                <th scope="col">Added on</th>
                <th scope="col">Actions</th>
              </tr>
            </thead>
            <tbody class="table-group-divider">
      
          

          {% for taskrow in allTask  %}
          <tr>
            <th scope="row">{{loop.index}}</th>
            <td>{{taskrow.title}}</td>
            <td>{{taskrow.desc}}</td>
            <td>{{taskrow.creation_date.strftime('%M:%H %d-%m-%Y')}}</td>
            <td>
              <a href="/update/{{taskrow.sno}}" type="button" class="btn btn-outline-dark btn-sm mx-1">Edit</a>
              <a href="/delete/{{taskrow.sno}}" type="button" class="btn btn-dark btn-sm mx-1"><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAnklEQVR4nL3SMQrCMBTG8SxdeguFQvcewE51d9cj6AHag9iLtIIn6BnErbsXEP4lmEIH++Ut+uAbkrz3I4E498sC9kBlbU6BAzAAz5BXyLweQk/6DciAG3CPxPdka7fIgSKSXD2jJ16dAloDcFVAYwBqBZwMwFEBpQHYKWBrADYKSIC3GPZnySrgPsgogFEOB+ACPBbfd47fO0eBv9cEJ8zI7JzUTyQAAAAASUVORK5CYII="></a>
            </td>
          </tr>

        </tbody>
      </table>
          {% endfor %}
          {% endif %}
    </div>
 
{% endblock body %}